.p-form {
    &__text {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        background: #d4d8db;

        &:focus {
            background-color: #e0eafa;
            transition: all 0.8s ease;
        }
    }
}