.p-form {
    &__text {
        height: 40px;
        padding-left: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        background: #d4d8db;

        &:focus {
            background-color: #e0eafa;
            transition: all 0.8s ease;
        }
    }

    &__sub {
        max-width: 300px;
    }

    &__detail {
        width: 100%;
        height: 300px;
    }

    &__file {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
    }
}