.p-grid {
    &__main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 48px 16px 64px;
        background: #f5f2ec;
    }

    &__content {
        display: grid;
        gap: 30px;
    }
}
