.p-image {
    &__sample{
        width: 100%;
        height: 100%;
        position: absolute;

        &-preview {
            position: absolute;
            width: 100%;
            z-index: 1;
            display: none;
        }
    }
}