.c-grid {
    &__content {
        &-main {
            display: grid;
            gap: 30px;
        }

        &-sub {
            display: grid;
            gap: 10px;
        }
    }



    &__primary {
        display: flex;
        justify-content: center;
    }
}