.c-text {
    &__error {
        color: #ff0000;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__hint {
        color: #6b7280;
        font-size: 0.9rem;
    }


}